@import '../../style/default.less';

@menu: ~'@{prefix}-menu';

.menuItem {
  margin: 0;
  padding: 0 20px;
  white-space: nowrap;
  cursor: pointer;

  .anticon {
    padding-right: 10px;
  }
}

#triggerContainer {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

.@{menu} {
  &-horizontal {
    line-height: 48px;
    white-space: nowrap;
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: none;
    .@{menu}-item {
      .menuItem();
      display: inline-block;
    }
    .@{menu}-submenu {
      .menuItem();
      display: inline-block;

      .@{menu} {
        display: none;
      }
    }
  }
}
.@{menu}-sub {
  top: 230px;
  left: 800px;
  width: 200px;
  position: absolute;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  background: #fff;
}
