@import '../../style/default.less';

@menu: ~'@{prefix}-menu';
@menu-border: #e8e8e8;
@popup-menu-spacing: 5px;
@animate-time: 0.3s;

#triggerContainer {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

.placement-before() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.0001;
  content: ' ';
}

.@{menu} {
  white-space: nowrap;
  border: 0;
  box-shadow: none;
  user-select: none;
  &-horizontal {
    height: 48px;
    border-bottom: 1px solid @menu-border;
    .@{menu}-item,
    .@{menu}-submenu {
      min-width: 100px;
      display: inline-block;
      &-active,
      &-selected {
        color: @color-primary;
        border-bottom: 2px solid @color-primary;
      }
      &-title {
        text-align: center;
      }
    }
  }
  &-inline {
    .@{menu} {
      &-inline {
        margin: 0;
        padding-left: 25px;
        border-right: none;
      }
      &-submenu {
        &-open {
          & > .@{menu}-submenu-title {
            .@{menu}-arrow {
              transform: rotate(180deg);
            }
          }
          & > .@{menu}-inline {
            display: block;
          }
        }
      }
    }
  }
  &-vertical,
  &-inline {
    border-right: 1px solid @menu-border;
    .@{menu}-item {
      width: 100%;
      .text-overflow();
      &-active,
      &-selected {
        color: @color-primary;
      }
    }
    .@{menu}-submenu {
      &-title {
        .text-overflow();
      }
      &-active,
      &-selected {
        & > div {
          color: @color-primary;
        }
      }
    }
  }
  &-item,
  &-submenu {
    line-height: 48px;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    transition: color ease @animate-time;
    .anticon {
      padding-right: 10px;
    }
    &-disabled,
    &-disabled > &-title {
      color: rgba(0, 0, 0, 0.25) !important;
      background: 0 0;
      border-color: transparent !important;
      cursor: not-allowed;
    }
  }
  &-item {
    padding: 0 30px;
    &-overflowed {
      visibility: hidden;
    }
  }
  &-submenu {
    &-title {
      padding: 0 30px;
      position: relative;
    }
  }
  &-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
    padding: 0 !important;
    font-size: 10px;
    transition: all ease @animate-time;
  }
  &-placement {
    &-bottom-left,
    &-bottom-right {
      &::before {
        .placement-before();
        top: -@popup-menu-spacing;
      }
    }
    &-right-top {
      &::before {
        .placement-before();
        left: -@popup-menu-spacing;
      }
    }
    &-left-top {
      &::before {
        .placement-before();
        left: @popup-menu-spacing;
      }
    }
  }
  &-collapse {
    overflow: hidden;
    transition: height @animate-time ease-out;
  }
  &-hidden {
    display: none;
  }
  .effect() {
    animation-duration: @animate-time;
    animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    transform-origin: 0 0;
  }
  &-zoom-enter,
  &-zoom-appear {
    .effect();
    opacity: 0;
    animation-play-state: paused;
  }

  &-zoom-leave {
    .effect();
    opacity: 1;
    animation-play-state: paused;
  }

  &-zoom-enter&-zoom-enter-active {
    animation-name: rcMenuOpenSlideUpIn;
    animation-play-state: running;
  }

  &-zoom-leave&-zoom-leave-active {
    animation-name: rcMenuOpenSlideUpOut;
    animation-play-state: running;
  }

  @keyframes rcMenuOpenSlideUpIn {
    0% {
      opacity: 0;
      transform-origin: 0% 0%;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform-origin: 0% 0%;
      transform: scaleY(1);
    }
  }
  @keyframes rcMenuOpenSlideUpOut {
    0% {
      opacity: 1;
      transform-origin: 0% 0%;
      transform: scaleY(1);
    }
    100% {
      opacity: 0;
      transform-origin: 0% 0%;
      transform: scaleY(0);
    }
  }
}
.@{menu}-sub {
  min-width: 200px;
  position: fixed;
  z-index: 1050;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
}
