@import '../../style/default.less';

@menu: ~'@{prefix}-menu';

#triggerContainer {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

.@{menu} {
  white-space: nowrap;
  border: 0;
  box-shadow: none;
  &-horizontal {
    height: 48px;
    border-bottom: 1px solid #e8e8e8;
    .@{menu}-item {
      display: inline-block;
    }
    .@{menu}-submenu {
      display: inline-block;
    }
  }
  &-vertical {
    .@{menu}-item {
      width: 100%;
    }
  }
  &-item,
  &-submenu {
    line-height: 48px;
    margin: 0;
    padding: 0 20px;
    white-space: nowrap;
    cursor: pointer;
  }
  .anticon {
    padding-right: 10px;
  }
}
.@{menu}-sub {
  top: 230px;
  left: 800px;
  width: 200px;
  position: absolute;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
}
