@import '../../style/default.less';

@row-cls: ~'@{prefix}-row';
@col-cls: ~'@{prefix}-col';

.@{row-cls} {
  position: relative;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  zoom: 1;
  display: block;
  box-sizing: border-box;

  &::after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.@{row-cls}-flex {
  display: flex;

  &-top {
    align-items: flex-start;
  }

  &-middle {
    align-items: center;
  }

  &-bottom {
    align-items: flex-end;
  }

  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }

  &-center {
    justify-content: center;
  }

  &-space-around {
    justify-content: space-around;
  }

  &-space-between {
    justify-content: space-between;
  }
}

.make-grid-col( @index )when( @index <= @grid-columns ) {
  .@{col-cls}-offset-@{index} {
    margin-left: percentage((@index / @grid-columns));
  }
  .@{col-cls}-order-@{index} {
    order: @index;
  }
  .@{col-cls}-pull-@{index} {
    right: percentage((@index / @grid-columns));
  }
  .@{col-cls}-push-@{index} {
    right: percentage((@index / @grid-columns));
  }
  .@{col-cls}-span-@{index} {
    width: percentage((@index / @grid-columns));
    float: left;
  }
  .make-grid-col((@index + 1));
}

.@{col-cls} {
  position: relative;
  min-height: 1px;
}

.make-grid-col(1);
